* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

button {
  border: none;
  width: 30%;
  padding: 1rem;
  border-radius: 25px;
  background: rgba(55, 0, 250, .35);
  color: white;
  box-shadow: 3px 3px 7px 1px gray;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}

button:hover {
  transition: all .5s ease;
  transform: opacity(.5);
  transform: scale(1.25);
  background: white;
  color: rgba(55, 0, 250, .35);
  /* border: 2px solid blue; */
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

.rpsChoices {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
}

.scores {
  width: 80%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.clicked {
  background: green;
}